[submodule "3rd-party/sisa-fit-tools"]
	path = 3rd-party/sisa-fit-tools
	url = git@git.daten.tk:sebastian.pfitzner/sisa-fit-tools.git
[submodule "3rd-party/hdf5-tools"]
	path = 3rd-party/hdf5-tools
	url = git@git.daten.tk:sebastian.pfitzner/hdf5-tools.git
[submodule "3rd-party/uipickfiles"]
	path = 3rd-party/uipickfiles
	url = git@git.daten.tk:michael.pfitzner/uipickfiles.git
[submodule "3rd-party/textools"]
	path = 3rd-party/textools
	url = git@git.daten.tk:sebastian.pfitzner/textools.git
[submodule "3rd-party/db-interaction"]
	path = 3rd-party/db-interaction
	url = git@git.daten.tk:michael.pfitzner/db-interaction.git
