[submodule "3rd-party/sisa-fit-tools"]
	path = 3rd-party/sisa-fit-tools
	url = git@git.daten.tk:sebastian.pfitzner/sisa-fit-tools.git
[submodule "3rd-party/hdf5-tools"]
	path = 3rd-party/hdf5-tools
	url = git@git.daten.tk:sebastian.pfitzner/hdf5-tools.git
